<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/include :: header" ></head>
<body>
    <form id="form" class="layui-form" style="width: 95%">
        <input type="hidden" name="id" th:value="${signing.id}">
       <div class="layui-form-item">
           <label class="layui-form-label">城市：</label>
           <div class="layui-input-block">
               <input class="layui-input" name="city" th:value="${signing.city}">
           </div>
       </div>
        <div class="layui-form-item">
            <label class="layui-form-label">机构名称：</label>
            <div class="layui-input-block">
               <input class="layui-input" name="mechanism" th:value="${signing.mechanism}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="department" th:value="${signing.department}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分点名称：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="partDepart" th:value="${signing.partDepart}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年度：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="year" datatype="n4-5" id="year" th:value="${signing.year}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">月份：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="month" id="month" th:value="${signing.month}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="date" id="date" th:value="${signing.date}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">条线：</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" name="lines">-->
                <select id="lines" name="lines" lay-verify="linesSelect">
                    <option value="">请选择</option>
                    <option th:each="lines:${linesList}" th:value="${lines.id}" th:text="${lines.title}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">国家：</label>
            <div class="layui-input-inline">
               <!-- <input class="layui-input" name="country">-->
                <select id="country" name="country" lay-verify="countrySelect">
                    <option value="">请选择</option>
                    <option th:each="country:${countryList}" th:value="${country.id}" th:text="${country.title}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户K3码：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="customerK3Code" th:value="${signing.customerK3Code}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户姓名：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="customerName" th:value="${signing.customerName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同号：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="contractNum" th:value="${signing.contractNum}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同模板：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="contractMould" th:value="${signing.contractMould}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">OA流水号：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="serialNumber" th:value="${signing.serialNumber}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户年级：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="customerGrade" th:value="${signing.customerGrade}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">业务类型：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="businessType" th:value="${signing.businessType}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品类别：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="productType" th:value="${signing.productType}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标学位：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="targetDegree" th:value="${signing.targetDegree}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约顾问：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="signingAdviser" th:value="${signing.signingAdviser}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请入学年：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="applyYear" id="applyYear" th:value="${signing.applyYear}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">申请入学月：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="applyMonth" id="applyMonth" th:value="${signing.applyMonth}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约金额：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="signingMoney" autocomplete="off" th:value="${signing.signingMoney}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主合同模板金额：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="mainContractMoney" autocomplete="off" th:value="${signing.mainContractMoney}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务费收款金额：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="serviceMoney" autocomplete="off" th:value="${signing.serviceMoney}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠类型：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="discountType" th:value="${signing.discountType}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠原因：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="discountReason" th:value="${signing.discountReason}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">优惠金额：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="discountMoney" th:value="${signing.discountMoney}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同状态：</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" name="contractState">-->
                <select id="contractState" name="contractState" lay-verify="contractStateSelect">
                    <option value="">请选择</option>
                    <option th:each="contractState:${contractStateList}" th:value="${contractState.id}" th:text="${contractState.title}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品分类：</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" name="productCategory">-->
                <select id="productCategory" name="productCategory" lay-verify="productCategorySelect">
                    <option value="">请选择</option>
                    <option th:each="productCategory:${productCategoryList}" th:value="${productCategory.id}" th:text="${productCategory.title}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">留学申请：</label>
            <div class="layui-input-inline">
               <!-- <input class="layui-input" name="overseasStudyApply">-->
                <select id="overseasStudyApply" name="overseasStudyApply" lay-verify="overseasStudyApplySelect">
                    <option value="">请选择</option>
                    <option th:each="overseasStudyApply:${overseasStudyApplyList}" th:value="${overseasStudyApply.id}" th:text="${overseasStudyApply.title}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">语言培训：</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" name="languageTrain">-->
                <select id="languageTrain" name="languageTrain" lay-verify="languageTrainSelect">
                    <option value="">请选择</option>
                    <option th:each="languageTrain:${languageTrainList}" th:value="${languageTrain.id}" th:text="${languageTrain.title}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约班级名称：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="signingClassName" th:value="${signing.signingClassName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约班级编码：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="signingClassCode" th:value="${signing.signingClassCode}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">签约课程类型：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="signingCurriculumType" th:value="${signing.signingCurriculumType}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注一：</label>
            <div class="layui-input-block">
               <!-- <input class="layui-input" name="remarksOne">-->
                <textarea name="remarksOne" style="width: 100%;height: 100px;" th:value="${signing.remarksOne}" th:text="${signing.remarksOne}">

                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注二：</label>
            <div class="layui-input-block">
                <!--<input class="layui-input" name="remarksTwo">-->
                <textarea name="remarksTwo" style="width: 100%;height: 100px" th:value="${signing.remarksTwo}" th:text="${signing.remarksTwo}">

                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">留学/培训：</label>
            <div class="layui-input-inline">
                <!--<input class="layui-input" name="overseasOrTrain">-->
                <select id="overseasOrTrain" name="overseasOrTrain" lay-verify="overseasOrTrainSelect">
                    <option value="">请选择</option>
                    <option th:each="overseasOrTrain:${overseasOrTrainList}" th:value="${overseasOrTrain.id}" th:text="${overseasOrTrain.title}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">周数：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="weekNum" th:value="${signing.weekNum}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">财年：</label>
            <div class="layui-input-block">
                <input class="layui-input" name="remarksYear" th:value="${signing.remarksYear}">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input id="formSubmit" type="button" class="layui-btn layui-btn-sm layui-btn-normal" value="提交">
               <!-- <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>-->
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
    <script th:inline="javascript">
        var signing = [[${signing}]];
        layui.use(['form','layer','laydate'],function(){
            var form = layui.form;
            var laydate  = layui.laydate;
            var $ = layui.jquery;

            $(function(){
                $("#lines").val(signing.lines);
                $("#country").val(signing.country);
                $("#contractState").val(signing.contractState);
                $("#productCategory").val(signing.productCategory);
                $("#overseasStudyApply").val(signing.overseasStudyApply);
                $("#languageTrain").val(signing.languageTrain);
                $("#overseasOrTrain").val(signing.overseasOrTrain);
                form.render("select");
            });

            laydate.render({
                elem:'#date',
                format:'yyyy-MM-dd',
                value:new Date()
            });

            laydate.render({
                elem:'#month',
                format:'MM',
                value:new Date()
            });

            laydate.render({
                elem:'#year',
                type:'year',
                value:new Date()
            });
            /*laydate.render({
                elem:'#applyYear',
                type:'year',
                value:new Date()
            });laydate.render({
                elem:'#applyMonth',
                type:'MM',
                value:new Date()
            });*/


            $("#formSubmit").click(function(){
                $.ajax({
                    url:ctx+"sys/signing/addOrEdit",
                    type:"POST",
                    data:$("#form").serializeArray(),
                    dataType:"json",
                    success:function (res) {
                        layer.open({
                            title:'提示',
                            content:res.message
                        });
                        /*if(res.success){
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        }*/
                    }
                });
            });

        });
    </script>
</body>
</html>